<html>
    <body>
    <style type="text/css">
    body {
        font-family: "Montserrat", "Helvetica", arial;
        font-size: 12px;
        background: #222;
        color: #fff;
    }

    pre {
        font-family: "MesloLGS NF", "Consolas", courier;
    }

    .content {
        max-width: 960px;
        margin: auto;
        display: block;
    }

    .heading { text-align: center; }
    .heading h1 h2 h3 h4 h5 {  
        display: inline-block;
    }

    .code {
        font-family: "MesloLGS NF", "Consolas", courier;
        font-size: 12px;
    }

    </style>
    <div class="content">
        <div class='heading'>
            <h1>User Info</h1>
        </div>
        <div class="code">
            Your IP: {{ ip_address }} <br />
            User Agent: {{ user_agent }} <br />
            Request Time: {{ timestamp }} <br />
            Headers: <pre>{{ full_headers }}</pre> <br />
        </div>
        <div class='heading'>
            <h1>Random Data</h1>
        </div>
        <div class="code">
            {{ random_data }}
        </div>
    </div>
</body>
</html>